body{
    background-color: aquamarine;
}

.container{
    display: flex;
    flex-direction: row;
}
.container img{
    justify-content: flex-start;
    margin-left: 50px;
}

.container p{
    justify-content: flex-end;
    width: 50%;
    padding: 10px;
}