.container{
    display: flex;
    flex-direction: row;
    width: 100vh;
    align-items: center;
    justify-content: center;

    
    
}

.container p{
    width: 25%;
    height: 25%;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    background-color: blanchedalmond;
    
}
